{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="page-title">Listagem de Serviços</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Modelo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for servico in servicos %}
            <tr>
                <td>{{ servico.nome }}</td>
                <td>{{ servico.descricao }}</td>
                <td>{{ servico.modelo }}</td>
                <td>
                    <a href="{% url 'editarServico' servico.pk %}" class="btn btn-primary btn-sm">Editar</a>
                </td>
                <td>                    
                    <a href="{% url 'excluirServico' servico.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'cadastrarServico' %}" class="btn btn-primary">Adcionar Novo Serviço</a>
</div>
{% endblock %}