{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Tipos de pagamento</h2>
    <a href="{% url 'cadastrarModeloAssinatura' %}" class="btn btn-primary mb-3">Adicionar Novo Modelo</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor Desconto (%)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for modelo in modelos %}
            <tr>
                <td>{{ modelo.nome }}</td>
                <td>{{ modelo.descricao }}</td>
                <td>{{ modelo.valor_desconto }}</td>

                <td>
                    <a href="{% url 'editarModeloAssinatura' modelo.id %}" class="btn btn-warning btn-sm">Editar</a>
                </td>    
                <td>                    
                    <a href="{% url 'excluirModeloAssinatura' modelo.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}