{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h1 class="page-title">Lista de Serviços e Recursos ddd</h1>
    <a href="{% url 'cadastrarServicoRecurso' %}" class="btn btn-primary mb-3">Adicionar Novo</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Serviço</th>
                <th>Recurso</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for servicorecurso in servicorecursos %}
            <tr>
                <td>{{ servicorecurso.servico.nome }}</td>
                <td>{{ servicorecurso.recurso.descricao }}</td>
                <td>{{ servicorecurso.quantidade }}</td>
                <td>
                    <a href="{% url 'editarServicoRecurso' servicorecurso.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'excluirServicoRecurso' servicorecurso.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}