{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="page-title">Listagem de Recursos do Datacenter</h1>
    <a href="{% url 'cadastrarRecursoDatacenter' %}" class="btn btn-success mb-3">Cadastrar Novo Recurso datacenter </a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Recurso</th>
                <th>Valor</th>
                <th>Detalhe</th>
                <th>Percentual Finops</th>
                <th>Valor Unitário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for recursoDataCenter in recursosDataCenter %}
            <tr>
                <td>{{ recursoDataCenter.empresa.nome }}</td>
                <td>{{ recursoDataCenter.recurso.descricao }}</td>
                <td>{{ recursoDataCenter.valor }}</td>
                <td>{{ recursoDataCenter.detalhe }}</td>
                <td>{{ recursoDataCenter.percentual_finops }}</td>  
                <td>{{ recursoDataCenter.valor_unitario }}</td>                              
                <td>
                    <a href="{% url 'editarRecursoDatacenter' recursoDataCenter.pk %}" class="btn btn-primary btn-sm">Editar</a>
                    <a href="{% url 'excluirRecursoDatacenter' recursoDataCenter.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
