{% extends 'base.html' %}

{% block content %}
    <h1>Dashboard</h1>
    <canvas id="myChart" width="400" height="200"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var dadosGraficos = {{ dados_graficos|safe }};
        var labels = dadosGraficos.map(d => d.descricao);
        var dataTotal = dadosGraficos.map(d => d.capacidade_total);
        var dataAlocada = dadosGraficos.map(d => d.capacidade_alocada);

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Capacidade Total',
                    data: dataTotal,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }, {
                    label: 'Capacidade Alocada',
                    data: dataAlocada,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}