{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="page-title">Listagem de Comportamentos de Custo</h1>
    <a href="{% url 'cadastrarComportamentoCusto' %}" class="btn btn-success mb-3">Cadastrar Novo Comportamento de Custo</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Exemplos</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for comportamento_custo in comportamentos_custo %}
            <tr>
                <td>{{ comportamento_custo.nome }}</td>
                <td>{{ comportamento_custo.exemplos }}</td>
                <td>
                    <a href="{% url 'editarComportamentoCusto' comportamento_custo.pk %}" class="btn btn-primary btn-sm">Editar</a>
                </td>
                <td>                   
                    <a href="{% url 'excluirComportamentoCusto' comportamento_custo.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
